.finger_press {
  position: relative;
  margin: auto 0;
}

.finger_press img,
.finger_press p {
  position: relative;
  z-index: 100;
}

.icon {
  width: 75px;
  height: 75px;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 85px;
    height: 85px;
  }
}

@media screen and (min-width: 1024px) {
  .icon {
    width: 95px;
    height: 95px;
  }
}
