.category_filter {
  /* border-top: 1px solid rgba(200, 200, 200, 0.35);
    border-bottom: 1px solid rgba(200, 200, 200, 0.35); */
  margin: 25px 0;
  padding: 0 10px !important;
}

.filter_container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 15px 0;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label img {
  opacity: 0.85;
}

.autocomplete > div > div {
  background-color: rgba(0, 0, 0, 0.2);
}

.autocomplete > div > div > div {
  gap: 4px;
  padding: 10px !important;
}

.autocomplete > div > div > div > div {
  padding: 10px 0 !important;
}

@media screen and (min-width: 768px) {
  .category_filter {
    margin: 30px 0;
    padding: 0 15px !important;
  }

  .autocomplete > div > div > div > div {
    padding: 15px 0 !important;
  }
}

@media screen and (min-width: 1024px) {
  .category_filter {
    margin: 35px 0;
  }
}

@media screen and (min-width: 1280px) {
  .category_filter {
    margin: 40px 0;
  }
}

@media screen and (min-width: 1536px) {
  .category_filter {
    padding: 30px 0;
  }
}
