/* ===== About ページ全体レイアウト ===== */

.profile_container {
  flex-direction: column !important;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media screen and (min-width: 1024px) {
  .profile {
    flex-direction: row;
  }

  .profile_info {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {
  .profile_info {
    width: 52%;
  }
}

/* ===== Introduction ===== */

.introduction {
  position: relative;
  overflow: hidden;
}

.profile_text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ===== ProfileImage ===== */

.profile_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 25px auto;
}

.profile_image {
  border-radius: 99999px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1024px) {
  .profile_image_container {
    width: 35%;
    max-width: 450px;
    margin: 0 auto;
  }

  .profile_image {
    box-shadow: 25px 25px 30px 20px rgba(0, 0, 0, 0.35);
  }
}

@media screen and (min-width: 1280px) {
  .profile_image_container {
    width: 60%;
  }
}

/* ===== SkillList ===== */

.skills_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.skills_list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.skill_list_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.image {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .image {
    width: 50px;
    height: 50px;
    margin-right: 0;
  }
}

.skill {
  display: flex;
  align-items: center;
  position: relative;
}

.txt {
  width: 100%;
}

.txt span {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 8px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  opacity: 0.9;
}

.txt p {
  font-size: 15px;
  font-weight: normal;
  padding-top: 6px;
  opacity: 0.8;
}

.txt span,
.txt p {
  color: var(--text-color-light);
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .txt span {
    font-size: 18px;
    padding-top: 8px;
  }

  .txt p {
    font-size: 16px;
    padding-top: 8px;
  }

  .txt span,
  .txt p {
    padding-left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .skills_list {
    gap: 30px;
  }

  .skills_list_container h3 {
    text-align: left;
    margin-bottom: 15px;
  }

  .skill_list {
    gap: 15px;
  }

  .skill_list_container {
    flex-direction: row;
    justify-content: start;
    gap: 15px;
  }

  .skill {
    position: relative;
    width: 55px !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    overflow: hidden;
  }

  .active:hover {
    width: 175px !important;
  }

  .image {
    position: relative;
  }

  .txt {
    position: absolute;
    left: 55px;
    width: 100%;
    transition: all 0.5;
  }

  .txt span {
    font-size: 15px;
    padding-top: 4px;
  }

  .txt p {
    font-size: 15px;
    padding-top: 4px;
  }
}

/* ===== CareerHistory ===== */

.career_history_container {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .career_history_container {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .career_history_container {
    margin-top: 60px;
  }
}
