.input_container {
  width: 100%;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 12px;
}

.required {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  background-color: var(--error-default);
  border-radius: 5px;
  padding: 4px 6px;
}

.label,
.required {
  color: #ffffff;
}

.text_field {
  height: 35px;
  padding: 4px 10px;
}

.edit_text_field:focus {
  outline: none;
  border: 1px solid var(--border-dark-focus) !important;
}

.default_text_field {
  border: 1px solid var(--border-dark-default);
}
.default_text_field:hover {
  border: 1px solid var(--border-dark-hover);
}

.textarea {
  height: 184px;
  vertical-align: top;
  text-align: left;
  padding: 8px 10px;
}

.text_field,
.textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
}

.text_field:focus,
.textarea:focus {
  outline: none;
}
.text_field,
.text_field:focus,
.textarea,
.textarea:focus {
  border: 1px solid var(--border-dark-default);
}

.error_text_field {
  border: 1px solid var(--error-hover);
}
.error_text_field:hover {
  border: 1px solid var(--error-default);
}

.error_text_field {
  border: 1px solid var(--error-default);
}

.error {
  position: absolute;
  font-size: 13px;
  color: var(--error-default);
  margin-top: 6px;
}
